.wrapper
  .sideVar
    = render './shared/sideVar'
  .chat
    .header
      .left-header
        .left-header__title
        %ul.left-header__members
          %li.member
    .messages
      .message
        .upper_message
          .upper_message__user-name
          .upper_message__data
        .lower_message
    .form
