.wrapper
  .sideVar
    = render './shared/sideVar'
  .chat
    .header
      .left-header
        .left-header__title
        %ul.left-header__members
          %li.member
    .messages
      .message
        .upper_message
          .upper_message__user-name
          .upper_message__data
        .lower_message
    .form

      %form{ action: "/", method: "post"}
      %input{ name: "title", class: "form__message", id: "message__content", placeholder: "type your message."}
        .form__mask
          %label{for: "message_image", class: "form__mask__image"}
            %i.fa.fa-picture-o.icon
            %input{ type: "file", class: "hidden", id: "message_image"}
      %input{ type: "submit", value: "send", class: "form__submit"}
