.header
  %h3.header__name User Name Test
  %ul.header__lists
    %li.list
      = link_to new_group_path do
        %i.fa.fa-pencil-square-o.icon
    %li.list
      = link_to edit_user_path(current_user.id) do
        %i.fa.fa-cog.icon
.groups
  - @groups.each do |grp|
    .group
      .group__name
        = link_to grp.name, group_messages_path(grp.id)
      .group__message
        = link_to "comment here...", group_messages_path(grp.id)
