.sideVar {
  width:300px;
  height:900px;
  float:left;
  background-color: #2f3e51;
}

.header {
  width:260px;
  height:100px;
  padding:0 20px 0 20px;
  float:left;
  background-color: #253141;
  line-height: 100px;

    .header__name {
      color:#FFFFFF;
      font-size: 16px;
      display: inline-block;
    }

    ul.header__lists {
        color:#FFFFFF;
        float: right;

        .icon {
          color:#FFFFFF;
        }

      li.list {
          display: inline-block;
      }
    }
}

.groups {
  width:260px;
  height:800px;
  padding:0 20px 0 20px;
  float:left;

  .group {
    width:260px;
    float:left;

      .group__name {
        color:#FFFFFF;
        font-size: 15px;
        padding-top: 20px;
      }

      .group__message {
        color:#FFFFFF;
        font-size: 11px;
        padding: 5px 0 40px 0;
      }
  }
}
