.sideVar {
  width:300px;
  height: calc(100vh);
  float:left;
  background-color: $blackblue;


  .header {
    width:260px;
    height:100px;
    padding:0 20px 0 20px;
    float:left;
    background-color: $darkblue;
    line-height: 100px;

      &__name {
        color:$white;
        font-size: 16px;
        display: inline-block;
      }
      &__lists {
          float: right;

        .icon {
          color:$white;
        }
        .list {
            color:$white;
            display: inline-block;
        }
      }
  }
}
.groups {
  width:260px;
  height: calc(100vh - 100px);
  padding:0 20px 0 20px;
  float:left;
  overflow: auto;

  .group {
    width:260px;
    height:105px;
    float:left;
    overflow: hidden;
    &__name {
      font-size: 15px;
      padding-top: 20px;
      &__button {
        color: $skyblue;
        text-decoration: none;
        display:block;
        padding: 0 20px;
      }
      a {
        color:$white;
        &:link  {
          text-decoration: none;
        }

        &:visited   {
          text-decoration: none;
        }

        &:hover {
          text-decoration: none;
          color: white;
          background-color:$skyblue;
        }
        &:active    {
          text-decoration: none;
        }
      }
    }

    &__message {
      color:$white;
      font-size: 11px;
      padding: 5px 0 40px 0;
      &__button {
        color: $skyblue;
        text-decoration: none;
        display:block;
        padding: 0 20px;
      }
      a {
        color:$white;
        &:link  {
          text-decoration: none;
        }

        &:visited   {
          text-decoration: none;
        }

        &:hover {
          text-decoration: none;
          color: white;
          background-color:$skyblue;
        }
        &:active    {
          text-decoration: none;
        }
      }
    }
  }
}
